.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: #181F2A;
}


/* Header section */
header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 50px;
    margin: 0 5%;
    font-family: 'Raleway', sans-serif;
}
    .header > .logo {
        float: left;
        width: 150px;
    }
    .navigation {
        display: inline-block;
        align-self: center;
    }
        .navigation a {
            color: #81D9D4;
            text-decoration: none;
            margin: 0 30px;
            font-size: 16px;
        }
        .navigation > a:hover {
            text-decoration: underline  #81D9D4;
        }


/* Hero section */
.hero {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
}
    .hero > img {
        width: 50%;
    }
    .hero > h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #fff;
        width: 50%;
        margin: 40px auto 0;
        font-size: 35px ;
    }
    .hero > p {
        color:  #81D9D4;
        width: 40%;
        margin: auto;
        padding: 40px 0;
        font-size: 16px;
    }
    .hero > a {
        display: inline-block;
        border-radius: 28px;
        line-height: 56px;
        width: 280px;
        height: 56px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        border: 2px solid transparent;
        background-image: linear-gradient(130deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    }
    .hero > a:hover {
        border: 2px solid #fff6;
    }

    .bg {
        z-index: -1;
        position: absolute;
        margin-top: -260px;
        width: 100%;
    }
        .bg > img {
            width: 100%;
        }


/* Service section */
.service {
    display: inline-block;
    text-align: center;
    width: 70%;
    margin: 50px 15%;
}
        .box {
            display: inline-block;
            width: 40%;
            float: left;
            margin: 5%;
        }
            .box > img {
                height: 88px;
            }
            .box > h1 {
                font-size: 18px;
                color: #fff;
            }
            .box > p {
                color: #81D9D4;
                width: 80%;
                margin: auto;
            }


/* Paragraf section */
.paragraf {
    display: inline-block;
    width: 90%;
    margin: 0 5%;
}
    .paragraf > img {
        float: left;
        width: 50%;
    }
    .paragraf-block {
        display: inline-block;
        vertical-align: middle;
        width: 40%;
        float: left;
        padding-left: 5%;
        padding-top: 5%;
    }
        .paragraf-block > h1 {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 35px;
            color: #fff;
        }
        .paragraf-block > p {
            color:  #81D9D4;
            font-size: 16px;
        }
        .paragraf-block > a {
            text-decoration: none;
            color: #689195;
            font-weight: 700;
            line-height: 20px;
            border-bottom: 2px solid #689195;
        }
            .paragraf-block >a > img {
                vertical-align: middle;
            }


/* Testimonials section */
.testimonials {
    display: inline-block;
    width: 80%;
    margin: 0 10%;
}
    .quotes {
        position: absolute;
        top: -37px;
        left: -10px;
        z-index: -1;
    }
    .t-box {
        display: inline-block;
        position: relative;
        background-color: #202A3C;
        width: 31%;
        float: left;
        box-sizing: border-box;
        padding: 2%;
        margin: 15vh 1%;
        border-radius: 5px;
    }
        .t-box > p {
            font-size: 14px;
            color: #81D9D4;
        }
        .author {
            display: inline-block;
            width: 100%;
        }
            .author > img {
                width: 40px;
                border-radius: 50%;
                float: left;
            }
            .author > p {
                width: calc(100% - 45px);
                font-size: 12px;
                float: left;
                padding-left: 5px;
                color: #81D9D4;
                margin: 0;
            }
            .author > p:first-of-type {
                font-weight: 700;
            }


/* Form */
.form-get-started {
    position: absolute;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    height: 250px;
    margin-left: 25%;
    box-sizing: border-box;
    background-color: #1C2431;
}
    .form-get-started > h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #fff;
        font-size: 35px;
    }
    .form-get-started > p {
        color:  #81D9D4;
        font-size: 16px;
        padding: 0 30px;
        width: 80%;
        margin: auto;
    }
    .form-get-started > input {
        width: 50%;
        height: 36px;
        margin-right: 15px;
        margin-top: 25px;
        border-radius: 18px;
        outline: none;
        border: 0;
        padding-left: 15px;
    }

    .form-get-started > a {
        display: inline-block;
        border-radius: 28px;
        line-height: 36px;
        width: 25%;
        height: 36px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        border: 2px solid transparent;
        background-image: linear-gradient(130deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    }
        .form-get-started > a:hover {
            border: 2px solid #fff6;
        }
    


/* Footer section */
footer {
    display: grid;
    grid-template-rows: 20% 50%;
    background-color: #0B1523;
    color: #fff;
    width: 90%;
    height: 300px;
    margin-top: 150px;
    padding-top: 150px;
    padding-left: 5%;
    padding-right: 5%;
}
    .f-block {
        display: grid;
        grid-template-columns: 30% 20% 15% 15% 20%;
        justify-items: center;
    }
        .footer > img {
            float: left;
        }
            .location > img {
                width: 15px;
                float: left;
                margin-top: 14px;
                margin-right: 15px;
            }
            .location > p {
                width: calc(100% - 30px);
                float: left;
            }
        .f-box {
            display: inline-block;
            float: left;
            box-sizing: border-box;
            text-align: center;
        }
            .f-box > a {
                float: left;
                color: #fff;
                margin-top: 14px;
                text-decoration: none;
            }
            .f-box > p > img {
                margin-right: 15px;
            }

            .social > a {
                text-decoration: none;
                color: #fff;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                line-height: 30px;
                margin: 5px;
                border: 1px solid #fff;
            }

