.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body,
body * {
    background-color: hsl(218, 28%, 13%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}



/* Header section */
header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 50px;
    width: 90%;
    margin: 0 5%;
    font-family: 'Raleway', sans-serif;
}
    .header > .logo {
        float: left;
        width: 150px;
    }
    .navigation {
        display: inline-block;
        align-self: center;
        margin-right: -30px;
    }
        .navigation a {
            color: #81D9D4;
            text-decoration: none;
            margin: 0 30px;
            font-size: 16px;
        }
        .navigation > a:hover {
            text-decoration: underline  #81D9D4;
        }

/* Hero section */
.hero {
    display: inline-block;
    text-align: center;
    width: 100%;
}
    .hero > img {
        width: 40%;
    }
    .hero > h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #fff;
        width: 50%;
        margin: 40px auto 0;
        font-size: 35px ;
    }
    .hero > p {
        color:  #81D9D4;
        width: 30%;
        margin: auto;
        padding: 40px 0;
    }
    .hero > a {
        display: inline-block;
        border-radius: 28px;
        line-height: 56px;
        width: 280px;
        height: 56px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        background-image: linear-gradient(130deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    }
    .hero > a:hover {
        border: 1px solid #fff6;
    }

/* Service section */
.service {

}
    .box {

    }


/* Paragraf section */


/* Testimonials section */


/* Footer section */